.header.menu {
    margin: -1rem -1rem 1rem -1rem;
    min-height: 3rem !important;
    background-color: #3e96ca;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border-radius: 0px;
    z-index: 1000;
    img {
        width: 25px;
        filter: drop-shadow(0px 0px 2px #fff);
    }
    .item {
        color: #fff;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 0 1.14285714em;
        -webkit-app-region: no-drag;
    }
    .icon {
        font-size: 0.9rem;
    }
}