<div class="ui header menu">
    <div class="item">
        <img src="assets://icons/favicon.png">
    </div>
    <a class="item" routerLink="/">
        All books
    </a>
    <a (click)="uploadEpub()" class="item">
        Import epub
    </a>
    <a (click)="modalService.open('settings')" class="item">
        Settings
    </a>
    <a (click)="modalService.open('help')" class="item">
        Help
    </a>
    <div class="right menu">
        <a (click)="minimizeWindow()" class="item">
            <i class="window minimize icon"></i>
        </a>
        <a (click)="maximizeWindow()" class="item">
            <i class="window {{ window.maximizable ? 'maximize' : 'restore' }} icon"></i>
        </a>
        <a (click)="closeWindow()" class="item">
            <i class="close icon"></i>
        </a>
    </div>
</div>
<router-outlet></router-outlet>