<div class="ui icon top right pointing dropdown button" suiDropdown>
    <i class="settings icon" title="Display settings"></i>
    <div class="menu" suiDropdownMenu>
        <div class="header">Font size</div>
        <div class="ui input" title="Changing font size during slide display restarts the slideshow from the beginning!">
            <input type="number" [(ngModel)]="options.fontSize" (keyup)="updateOptions()" (change)="updateOptions()">
        </div>
        <p class="message error">Changing font size during slide display restarts the slideshow from the beginning!</p>
        <div class="header">Font color</div>
        <div class="ui input">
            <input type="color" [(ngModel)]="options.fontColor" (input)="updateOptions()">
        </div>
        <div class="header">Font link color</div>
        <div class="ui input">
            <input type="color" [(ngModel)]="options.fontLinkColor" (input)="updateOptions()">
        </div>
        <div class="header">Text alignment</div>
        <div class="ui icon buttons">
            <button (click)="options.textAlign = 'left'; updateOptions();" class="ui button"><i class="align left icon"></i></button>
            <button (click)="options.textAlign = 'center'; updateOptions();" class="ui button"><i class="align center icon"></i></button>
            <button (click)="options.textAlign = 'right'; updateOptions();" class="ui button"><i class="align right icon"></i></button>
        </div>
        <div class="header">Display on</div>
        <select class="ui dropdown input" [(ngModel)]="options.display.selected" (change)="updateOptions()">
            <option *ngFor="let option of options.display.list" [ngValue]="option">PC Display: {{ option }}</option>
        </select>
    </div>
</div>
