<!-- Header menu -->
<div *ngIf="settings.display.windowed" class="ui header menu">
    <div class="item">
        <img src="assets://icons/favicon.png">
    </div>
    <div class="right menu">
        <a (click)="minimizeWindow()" class="item">
            <i class="window minimize icon"></i>
        </a>
        <a (click)="maximizeWindow()" class="item">
            <i class="window {{ window.maximizable ? 'maximize' : 'restore' }} icon"></i>
        </a>
        <a (click)="closeWindow()" class="item">
            <i class="close icon"></i>
        </a>
    </div>
</div>

<!-- Main Display -->
<div class="display">
    <div *ngIf="settings.bgType == 'pub'" class="pub-background {{ epub?.type }}">
        <div class="book">
            <img [src]="('app://' + epub?.image) | sanitizer : 'url'">    
        </div>
    </div>

    <div class="text-clip" [ngStyle]="{'max-height': (settings.textHeight + 'px')}">
        <div #textElement class="text" [ngStyle]="{'margin-top': (-settings.textY + 'px')}" [innerHTML]="slideshow.slides[slideshow.active]?.text | sanitizer : 'html'"></div>
    </div>
    
    <small class="name">{{ slideshow.slides[slideshow.active]?.name }}</small>

    <div class="publication">
        <img [src]="('app://' + epub?.image) | sanitizer : 'url'">
        <h5>{{ epub?.title }}</h5>
    </div>
</div>