<div class="container page">
    <h1>Display ePub</h1>
    <div class="ui grid">
        <div class="eight wide column bible-select">
            <h3 class="ui top attached header">Book</h3>
            <div class="ui attached segment books" (keydown)="selectBook($event);" tabindex="1">
                <button class="ui button book" *ngFor="let book of epub?.structure; let i = index;" (click)="selectBook(i);" [ngClass]="{'active' : selection.bookIndex == i}" tabindex="-1">{{ book.name }}</button>
            </div>
            <div class="ui grid mt-1">
                <div class="four wide column">
                    <h3 class="ui top attached header">Chapter</h3>
                    <div class="ui attached segment">
                        <div class="ui input">
                            <input type="number" [(ngModel)]="selection.chapter" placeholder="1" tabindex="2">
                        </div>
                        <small class="message">Enter a single number - "22"</small>
                    </div>
                </div>
                <div class="twelve wide column">
                    <h3 class="ui top attached header">Verse(s)</h3>
                    <div class="ui attached segment">
                        <div class="ui input">
                            <input type="text" [(ngModel)]="selection.verses" placeholder="22-40" tabindex="3">
                        </div>
                        <small class="message">Enter a number - "1", Multiple numbers - "1,42,73" or Number range - "10-22"</small>
                    </div>
                </div>
            </div>
            <button (click)="addScripture()" class="ui button add" title="Add scripture to final slideshow" tabindex="4">Add scripture(s)</button>
            <div *ngIf="error" class="ui negative message error">
                <i (click)="error = null" class="close icon"></i>
                <p>{{ error }}</p>
            </div>
        </div>
        <div class="eight wide column paragraphs">
            <display-controller></display-controller>
            <div class="ui relaxed divided list">
                <div *ngFor="let slide of slideshow.slides; let i = index;" [ngClass]="{ 'active': i == slideshow.active }" class="item">
                    <p class="mb-0" [innerHTML]="slide.text | sanitizer : 'html'"></p>
                    <small class="float-right">{{ slide?.name }}</small>
                    <div class="actions">
                        <i class="close icon" (click)="slidesService.removeSlide(i);" title="Remove slide"></i>
                        <i class="external alternate icon" (click)="slidesService.controlSlides('switch-slide', i)" title="Switch display to this slide"></i>
                    </div>
                </div>
                <p *ngIf="!slideshow.slides.length" class="info-tip">Add scriptures on the left to create a slideshow</p>
            </div>
        </div>
    </div>
</div>