.grid:first-of-type {
    padding: 16px;
}
.pages, .paragraphs {
    border-style: solid;
    border-width: 0px 1px;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    border-color: rgba(34, 36, 38, 0.1);
}

.list {
    overflow-y: auto;
    padding-right: 15px;
    height: calc(100vh - 16rem);

    .item {
        cursor: grab;
        position: relative;
        padding: 6px 40px 0px 4px;
    }
    .item.active {
        background-color: #eaedef;
    }
}

.paragraphs {
    padding-top: 0 !important;

    .citation {
        color: #fff;
        background: #3e96ca;
        margin-bottom: 5px;
        display: inline-block;
        border-radius: 5px;
        padding: 2px 6px !important;
        font-size: 0.9rem;
        margin-right: 5px;
    }
}

.actions {
    top: 4px;
    right: 0px;
    color: #3e96ca;
    position: absolute;
    
    .icon {
        cursor: pointer;
    }
}

.input + .message {
    display: block;
    margin-top: 6px;
}

/* Publication pages */
.pages {

    .input {
        width: 100%;
    }
    .title {
        padding: 4px 0px;
        display: block;
    }

}

/* Bible books */
.bible-select {

    overflow-y: auto;
    margin-left: -1rem;
    height: calc(100vh - 11rem);
    padding-top: .2rem !important;

    .header {
        padding-bottom: .78571429em !important;
    }

    .input {
        width: 100%;
    }

    .book {
        margin: 0.5%;
        width: 13.25%;
        overflow: hidden;
        padding: 10px 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .book:hover, .book.active {
        color: #fff;
        background: #3e96ca;
    }

    .add {
        float: right;
        margin-top: 1.4rem;
    }

}