<div class="container">

    <a class="btn-back" routerLink="/">Back</a>

    <h1>Display ePub</h1>
    <div class="ui grid">
        <div class="four wide column pages">
            <div class="ui top attached menu">
                <div class="item">
                    <div class="ui icon input">
                        <input #pageName (keyup)="searchPages(pageName.value);" type="text" title="Search for articles by name" placeholder="Search by name...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui relaxed divided list">
                <div *ngFor="let page of epub?.structure_filtered" (click)="selectPage(page.path)" class="item">
                    <a class="title">{{ page.name }}</a>
                </div>
            </div>
        </div>
        <div class="six wide column paragraphs">
            <div class="ui top attached menu">
                <div class="item">
                    <button class="ui button" (click)="addAllSlides()" title="Add all the paragraphs below to the slideshow">Add all paragraphs</button>
                </div>
            </div>
            <div class="ui relaxed divided list" dragula="DRAGULA_FACTS" [(dragulaModel)]="epubPage.content" id="left">
                <ng-container *ngFor="let content of epubPage?.content; let i = index;">
                    <div *ngIf="!content.name; else namedContent" class="item">
                        <p [innerHTML]="content.text | sanitizer : 'html'"></p>
                    </div>
                    <ng-template #namedContent>
                        <a class="item citation">{{ content.name }}</a>
                    </ng-template>
                </ng-container>
                <p *ngIf="!epubPage?.content.length" class="info-tip">Select an article on the left to show paragraphs</p>
            </div>
        </div>
        <div class="six wide column paragraphs">
            <div class="ui top attached menu">
                <div class="item">
                    <button class="ui button" (click)="displaySlides()" title="Show/close slideshow on second screen">Toggle display</button>
                </div>
                <div class="right menu">
                    <div class="item">
                        <button class="ui button" (click)="controlSlides('previous-slide')" title="Switch to previous slide">
                            <i class="icon angle left"></i>
                        </button>
                    </div>
                    <div class="item">
                        <button class="ui button" (click)="controlSlides('next-slide')" title="Switch to next slide">
                            <i class="icon angle right"></i>
                        </button>
                    </div>
                    <div class="item">
                        <div class="ui icon top right pointing dropdown button" suiDropdown>
                            <i class="settings icon" title="Display settings"></i>
                            <div class="menu" suiDropdownMenu>
                                <div class="header">Font size</div>
                                <div class="ui input" title="Changing font size during slide display restarts the slideshow from the beginning!">
                                    <input type="number" [(ngModel)]="slideshow.options.fontSize" (keyup)="updateSlideOptions()" (change)="updateSlideOptions()">
                                </div>
                                <p class="message error">Changing font size during slide display restarts the slideshow from the beginning!</p>
                                <div class="header">Font color</div>
                                <div class="ui input">
                                    <input type="color" [(ngModel)]="slideshow.options.fontColor" (input)="updateSlideOptions()">
                                </div>
                                <div class="header">Font link color</div>
                                <div class="ui input">
                                    <input type="color" [(ngModel)]="slideshow.options.fontLinkColor" (input)="updateSlideOptions()">
                                </div>
                                <div class="header">Text alignment</div>
                                <div class="ui icon buttons">
                                    <button (click)="slideshow.options.textAlign = 'left'; updateSlideOptions();" class="ui button"><i class="align left icon"></i></button>
                                    <button (click)="slideshow.options.textAlign = 'center'; updateSlideOptions();" class="ui button"><i class="align center icon"></i></button>
                                    <button (click)="slideshow.options.textAlign = 'right'; updateSlideOptions();" class="ui button"><i class="align right icon"></i></button>
                                </div>
                                <div class="header">Background type</div>
                                <select class="ui dropdown input" [(ngModel)]="slideshow.options.bgType" (change)="updateSlideOptions()">
                                    <option ngValue="color">Color</option>
                                    <option ngValue="pub">Publication cover</option>
                                </select>
                                <ng-container *ngIf="slideshow.options.bgType == 'color'">
                                    <div class="header">Background color</div>
                                    <div class="ui input">
                                        <input type="color" [(ngModel)]="slideshow.options.bgColor" (input)="updateSlideOptions()">    
                                    </div>
                                </ng-container>
                                <div class="header">Display on</div>
                                <select class="ui dropdown input" [(ngModel)]="slideshow.options.display.selected" (change)="updateSlideOptions()">
                                    <option *ngFor="let option of slideshow.options.display.list" [ngValue]="option">PC Display: {{ option }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui relaxed divided list" dragula="DRAGULA_FACTS" [(dragulaModel)]="slideshow.slides" (dragulaModelChange)="updateSlides()" id="right">
                <div *ngFor="let slide of slideshow.slides; let i = index;" class="item">
                    <p class="mb-0" [innerHTML]="slide.text | sanitizer : 'html'"></p>
                    <small class="float-right">{{ slide?.name }}</small>
                    <div class="actions">
                        <i class="close icon" (click)="removeSlide(i);" title="Remove slide"></i>
                        <i class="external alternate icon" (click)="controlSlides('switch-slide', i)" title="Switch display to this slide"></i>
                    </div>
                </div>
                <p *ngIf="!slideshow.slides.length" class="info-tip">Drag content from the left to create a slideshow</p>
            </div>
        </div>
    </div>
</div>