html {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
body {
    overflow: hidden;
}
h1 {
    width: fit-content;
    color: #828282;
    padding-bottom: 4px;
    margin-bottom: 2rem;
    border-bottom: 2px solid #3e96ca;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.mt-0 {
    margin-top: 0px !important;
}
.mt-1 {
    margin-top: 1rem !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.pt-0 {
    padding-top: 0px !important;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.button.primary {
    background-color: #3e96ca !important;
}
.modal .header {
    color: #3e96ca !important;
}
.dropdown.active .menu {
    display: block;
}
.message.error {
    display: block;
    float: right;
    width: fit-content;
    clear: both;
    padding: 0.9rem 1rem;
    p {
        margin-top: 0px;
        padding-right: 15px;
    }
}
.container.page {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 15px 15px 0px 15px;
}
.info-tip {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}