html {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
h1 {
    width: fit-content;
    color: #828282;
    padding-bottom: 4px;
    margin-bottom: 2rem;
    border-bottom: 2px solid #3e96ca;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.mb-0 {
    margin-bottom: 0px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.dropdown.active .menu {
    display: block;
}
.message.error {
    display: block;
    float: right;
    width: fit-content;
    clear: both;
    padding: 0.9rem 1rem;
}
.message.error p {
    margin-top: 0px;
    padding-right: 15px;
}
.container {
    padding: 30px 30px 0px 30px;
}
.btn-back {
    top: 30px;
    position: absolute;
}
.info-tip {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}