.search {
    width: 30%;
    clear: both;
    float: left;
    margin-bottom: 1.2rem;
}
.books {
    clear: both;
    min-height: 80vh;
    p {
        overflow: hidden;
        color: #616161;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .card {
        cursor: pointer;
    }
    .trash {
        cursor: pointer;
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: 1.8rem;
        line-height: 0;
        padding: 0.9rem 0px;
        background: #e0e1e2 none;
        border-radius: 50px !important;
    }
}