<div class="container page">
  <h1 class="float-left">Uploaded ePubs</h1>
  <button class="ui button float-right" (click)="uploadEpub()" title="Import a new epub file for display">Import epub</button>
  
  <div class="ui icon input search">
    <i class="search icon"></i>
    <input type="text" [(ngModel)]="filters.title"(keyup)="filterEpubList();" placeholder="Search by name...">
  </div>

  <div class="ui grid books">
    <div *ngFor="let epub of epubs" class="three wide column">
      <div class="ui card">
        <div class="image" (click)="openEpub(epub)">
          <img [src]="('app://' + epub.image) | sanitizer : 'url'">
        </div>
        <div class="content">
          <p>{{ epub.title }}</p>
        </div>
        <i (click)="removeEpub(epub.id)" class="trash icon red"></i>
      </div>
    </div>
    <p *ngIf="!epubs.length" class="info-tip">No uploaded epubs. Download a publication from jw.org and click import epub.</p>
  </div>
</div>

<fui-dimmer class="page" [(isDimmed)]="loading">
  <div class="ui text loader">One moment please - this can take a while...</div>
<fui-dimmer>
